body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgba(255, 0, 0, 0.660);
}
.yellow{
    background-color: rgba(255, 255, 0, 0.650);
}
.green {
    background-color: rgb(0, 128, 0, 0.650);
}
.blue{
    background-color: rgba(0, 0, 255, 0.650);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}